<div class="sidebar">
 

  <div class="cat-links">
      <h2>Categories</h2>

      <ul class="p-0 m-0">
          <li><a href="#">Business</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Marketing</a></li>
          <li><a href="#">MBA Courses</a></li>
          <li><a href="#">Technology</a></li>
          <li><a href="#">Web Development</a></li>
      </ul>
  </div><!-- .cat-links -->

  <div class="latest-courses">
      <h2>Popular Ebooks</h2>

      <ul class="p-0 m-0" *ngIf="popularEbooks"> 
          <li class="flex flex-wrap justify-content-between align-items-start" *ngFor="let p of popularEbooks">
                <a [routerLink]="['/books',p.id]"><img [src]=(imageBaseURL+p.coverurl) alt="p.title"></a>

              <div class="content-wrap">
                  <h3><a [routerLink]="['/books',p.id]">{{p.title}}</a></h3>

                  
              </div><!-- .content-wrap -->
          </li>

          
      </ul>
  </div><!-- .latest-courses -->

  <div class="ads">
      <img src="./assets/images/ads.jpg" alt="">
  </div><!-- .ads -->

  <div class="popular-tags">
      <h2>Popular Tags</h2>

      <ul class="flex flex-wrap align-items-center p-0 m-0">
          <li><a href="#">Creative</a></li>
          <li><a href="#">Unique</a></li>
          <li><a href="#">Photography</a></li>
          <li><a href="#">ideas</a></li>
          <li><a href="#">Wordpress Template</a></li>
          <li><a href="#">startup</a></li>
      </ul>
  </div><!-- .popular-tags -->
</div><!-- .sidebar -->